body {
    background-color: #121212;
    color: #fff;
}

.navbar {
    margin-bottom: 20px;
}

.carousel-inner img {
    height: 600px;
    object-fit: cover;
}

.card {
    background-color: #1c1c1c;
    border: none;
    color: #fff;
}

.card-img-top {
    height: 450px;
    object-fit: cover;
}
